
/* global
/* ------------------------------------------------------------------*/
    @font-face 
    {
        font-family: "trueno";
        src: url('/ShareAVilla/bits/truenoLt.woff?t0ns1w') format("woff");
        font-weight: normal;
        font-style: normal;
    }


    .bgFillTarmac
    {
        background:url("/Site/tmpl/Anon/bits/tarmac.jpg");
        user-select:none;
    }
    
    .softFade
    {
        background:url("/Site/tmpl/Anon/bits/litefade.png");
        background-size:cover;
    }
    
    .hardFade
    {
        background:url("/Site/dcor/hardfade.png");
        background-size:cover;
        opacity:0.97;
    }
    
    .liteFade
    {
        position:absolute;
        width:100%; height:100%;
        background:url("/Site/tmpl/Anon/bits/litefade.png");
        background-size:cover;
        user-select:none;
        z-index:9999999;
        pointer-events:none !important;
    }
    
    .actionless
    {
        user-select:none;
        pointer-events:none !important;
    }
/* ------------------------------------------------------------------*/




/* layout
/* ------------------------------------------------------------------*/
    #mainBody
    {
        background-image: url("/ShareAVilla/bits/ctAtNight.jpg");
        background-size: cover;
    }

    #naviMenu
    {
        background-color: hsla(220,3%,10%,0.95);
        z-index:80000;
        overflow: hidden;
        box-shadow: 0px 0px 9px rgba(0,0,0,0.5);
    }

    #mainView
    {
        background-color: hsla(220,3%,10%,0.85);
        z-index:8000;
    }
/* ------------------------------------------------------------------*/




/* naviMenu
/* ------------------------------------------------------------------*/
    .naviCell
    {
        
        color: #DDDDDD;
        cursor:pointer;
    }
    .naviCell:hover
    {
        color: #FFFFFF;
        text-shadow: 0px 0px 6px hsla(0,0%,100%,0.3);
        background-color: hsla(0,0%,100%,0.05);
    }
    .naviCell.active
    {
        color: #FFFFFF;
        text-shadow: 0px 0px 6px hsla(220,100%,80%,0.6);
    }
/* ------------------------------------------------------------------*/




/* orientation
/* ------------------------------------------------------------------*/
@media (orientation: landscape)
{
    #mainView
    {
        display: inline-block;
        width: 90%;
        height: 100%;
    }

    #naviMenu
    {
        display: inline-block;
        width: 10%;
        height: 100%;
        box-shadow: -2px 0px 0px hsl(0,0%,100%,0.05) inset;
    }

    .naviCell
    {
        display: block;
        width: 100%;
        height: 25%;
    }
    .naviCell.active
    {
        box-shadow: -2px 0px 0px hsl(220,100%,60%) inset;
    }

    .naviButn
    {
        font-size: 5vw;
        line-height: 5vw;
    }
}


@media (orientation: portrait)
{
    #mainView
    {
        display: block;
        width: 100%;
        height: 90%;
    }

    #naviMenu
    {
        display: block;
        width: 100%;
        height: 10%;
        box-shadow: 0px -2px 0px hsl(0,0%,100%,0.05) inset;
    }

    .naviCell
    {
        display: inline-block;
        width: 25%;
        height: 100%;
    }
    .naviCell.active
    {
        box-shadow: 0px -2px 0px hsl(220,100%,60%) inset;
    }

    .naviButn
    {
        font-size: 5vh;
        line-height: 5vh;
    }
}
/* ------------------------------------------------------------------*/




/* featured
/* ------------------------------------------------------------------*/
#nowAvail
{
    display: block;
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: unset;
    z-index: 98000;
}
/*

#featView
{
    position: relative;
    min-width: 100px;
    min-height: 100px;
}

#featInfo
{
    position: relative;
    min-width: 100px;
    min-height: 100px;
    z-index: 99000;
    box-shadow: 0px 0px 3px hsla(0,0%,0%,0.9);
}


@media (orientation: landscape)
{
    #featView
    {
        display: inline-block;
        width: 55%;
        height: 90vh;
    }
    #featInfo
    {
        display: inline-block;
        width: 45%;
        height: 90vh;
    }
}

@media (orientation: portrait)
{
    #featView
    {
        display: block;
        width: 100%;
        height: 55vh;
    }
    #featInfo
    {
        display: block;
        width: 100%;
    }
}
*/


.picsViewLayr
{
    background-size: cover;
    background-position: center center;
}


.picsViewTitl
{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 84px;
    padding-left: 12px;
    padding-right: 12px;
}
.picsViewTitl h1
{
    font-size: 36px;
    line-height: 48px;
    color: white;
    text-shadow: 0px 0px 2px hsla(0,0%,0%,1);
}

.picsViewTiny
{
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 90px;
    white-space: nowrap;
    background-color: hsla(0,0%,0%,0.5);
    padding-top: 3px;
    padding-left: 3px;
    border-top: 1px solid hsla(0,0%,100%,0.3);
    overflow-x: auto;
}

.picsTinyItem
{
    display: inline-block;
    width: 90px;
    height: 60px;
    background-size: cover;
    background-position: center center;
    border: 2px solid hsla(0,0%,100%,0.6);
    border-radius: 5px;
    box-shadow: 0px 0px 3px hsla(0,0%,0%,1);
    margin: 6px;
}
/* ------------------------------------------------------------------*/




/* toglMenu
/* ------------------------------------------------------------------*/
    #toglMenu
    {
        position:absolute;
        top: 0px;
        left: 0px;
        width: 90%;
        height: 100%;
        min-width: 360px;
        max-width: 500px;
        min-height: 360px;
        border-right: 1px solid hsla(0,0%,100%,0.1);
        background-color: hsla(220,3%,10%,0.95);
        z-index:90000;
        overflow: hidden;
        box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
    }

    .toglMenuHead
    {
        width: 100%;
        height: 4rem;
        background: hsla(0,0%,3%,0.2);
        padding: 1rem;
    }

    .toglMenuHead #findWrap
    {
        width:100%;
        height: 2rem;
        background: hsla(0,0%,0%,0.2);
        border: 1px solid hsla(0,0%,100%,0.2);
        border-radius: 2rem;
    }

    .toglMenuHead .icon
    {
        width: 2rem;
        height: 2rem;
    }
    .toglMenuHead .text
    {
        width: unset;
        height: 2rem;
    }
    .toglMenuHead input
    {
        width: 100%;
        height: 2rem;
        color: white;
        background: none;
        border: none;
    }
    

    #toglMenuBody
    {
        overflow: auto;
        padding: 1rem;
    }
    
    
    .findMenuItem
    {
        height: 6rem;
        margin-bottom: 1rem;
        border: 1px solid hsl(220,3%,15%);
        border-radius: 3px;
    }
    .findMenuItem:hover
    {
        background-color: hsla(220,3%,15%,0.1);
    }

    .findItemHero
    {
        width: 6rem;
        height: 6rem;
    }

    .findItemHero panl
    {
        width: 6rem;
        height: 6rem;
        background-size: cover;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    
    .findItemText
    {
        width: unset;
        height: unset;
        padding: 0.5rem;
    }
    
    .findItemText h5
    {
        margin: 0px;
    }
/* ------------------------------------------------------------------*/


/* section :: markdown
/* ------------------------------------------------------------------*/
    section
    {
        position: relative;
    }

    section .mdtext
    {
        margin-top: 3rem;
        padding: 2rem;
    }

    section .markdown-body
    {
        font-family: "trueno";
        color: hsl(0,0%,90%);
    }

    section .markdown-body h1
    {
        border: none;
        text-align: center;
        margin-top: 2rem !important;
        margin-bottom: 1rem;
    }

    section .markdown-body h2
    {
        border: none;
    }
/* ------------------------------------------------------------------*/


/* section :: welcome
/* ------------------------------------------------------------------*/
    #welcome
    {
    }
/* ------------------------------------------------------------------*/


/* home
/* ------------------------------------------------------------------*/
    .banrLogo
    {
        width: 70%;
        height: auto;
        margin-top: 2rem;
        opacity: 0.4;
    }
/* ------------------------------------------------------------------*/


/* welcome
/* ------------------------------------------------------------------*/
/*#welcome*/
/*{*/
/*    position: relative;*/
/*    z-index: 99100;*/
/*    min-width: 100px;*/
/*    min-height: 100px;*/
/*    border-top: 1px solid hsla(0,0%,100%,0.1);*/
/*    box-shadow: 0px 0px 5px hsla(0,0%,0%,0.6);*/
/*}*/
