    <style>
        html,body
        {
            height:100%;
            margin:0px; padding:0px;
            background:hsl(210,3%,16%);
            font-size:15px; line-height:20px;
            font-family: Arial, Helvetica, sans-serif;
            color:#AAA;
            overflow:hidden;
        }
        
        .pageBody
        {
            background:url("/Site/tmpl/Anon/bits/tarmac.jpg");
            user-select:none;
        }
        
        .viewLayr
        {
            height:100%;
            overflow:hidden;
            user-select:none;
        }
        
        .cenmid {position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
        
        #logoSign
        {
            width:50%;
            height:auto;
            user-select:none;
        }
        
        .liteFade
        {
            position:absolute;
            width:100%; height:100%;
            background:url("/Site/tmpl/Anon/bits/litefade.png");
            background-size:cover;
            user-select:none;
            z-index:999999;
            pointer-events:none !important;
        }
    </style>
    <script>
        !function()
        {
            if ((typeof ShareAVilla) !== "object")
            {
                let href = window.top.location.href;
                let dlim = ((href.indexOf("?")<0) ? "?" : "&");
                window.top.location.href = (href+dlim+"freshGui=true");
                return;
            };
        }();
    </script>
    <script src="/ShareAVilla/bits/layout.js"></script>


    <div class="viewLayr pageBody">
        <img id="logoSign" class="cenmid" src="/ShareAVilla/bits/logo-leaf.svg" />
        <div class="liteFade"></div>
    </div>
